@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

.navigate-Active {
  color: #2a9d8f;
  border-top: #2a9d8f solid 2px;
  border-bottom: #2a9d8f 2px solid;
  padding: 0 rem;
  /* border-radius: 0.3rem; */
}

.success-notification {
  color: #fcffff;
  background-color: #2a9d8f;
  font-size: small;
}
.error-notification {
  color: #fcffff;
  background-color: #9d3b2a;
  font-size: small;
}

/* .navigate-Active {
  background-color: #2a9d8f;
  color: #2a9d8f;
  padding-top: 0.2rem;
  border-radius: 0.5rem;
  width: 5.2rem;
  height: 2.0rem;
} */